*{
    background: #F3F5FC;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    font-family: 'Inter', sans-serif;}

.logo{
    padding-top: 10px;
    width: 10%;
}

main{
    display: flex;
    flex-wrap:wrap;
    margin-bottom:50px;
    margin-left:88px;
}
.areadetexto{
    background-color: white;
    border-radius: 25px;
    margin-top: 70px;
    margin-left: 97px;
    color: #0A3871;
    resize: none;
    text-transform: lowercase;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    padding:10px;
    padding-left: 15px;
}

::placeholder { color: #0A3871;}
    .areadetexto:focus {
        outline: none;
    }

.textoDesencriptado{
    background: white;
    background-image: url("img/Muñeco.png"), url(img/ausencia\ de\ texto.png);
    background-position: top, bottom;
    background-repeat: no-repeat;
    border: none;
    color: #0A3871;
    border-radius: 25px;
    margin-left: 98px;
    margin-top: 28px;
    padding-left: 28px;
    padding-top: 10px;
    padding-right: 28px;
    resize: none;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.textoDesencriptado:focus{
    outline: none;
}

.posicionBotones{
    display: flex;
    margin-top: 18px;
}

.botonEncriptado{
    color: white;
    width: 328px;
    height: 67px;
    background-color: #0A3871;
    border-radius: 25px;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.botonEncriptado:hover{
    background: rgb(4, 144, 243);
    transform: scale(1.1);
}

.botonDesencriptado{
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    width: 328px;
    height: 67px;
    margin-left: 30px;
    border-radius: 25px;
    cursor: pointer;
}

.botonDesencriptado:hover{
    background: rgb(160, 199, 228);
    transform: scale(1.1);
}

.aclaracion{
    color: #495057;
    font-size: 18px;
}

.botonCopiar{
    display: none;
    width: 336px;
    height: 67px;
    border: 1px solid #0A3871;
    background-color: #0A3871;
    border-radius: 25px;
    color: white;
    margin-left: 142px;
    margin-bottom: 10px;
    margin-top: 10px;
    position:relative;
    cursor: pointer;
}

.botonCopiar:hover{
    background: rgb(4, 144, 243);
    transform: scale(1.1);
}

.botonPegar{
    color: white;
    width: 336px;
    height: 67px;
    background-color: #0A3871;
    border-radius: 25px;
    border: 1px solid #0A3871;
    cursor: pointer;
    display:inline-block;
    margin-top:40px;
    margin-left: 205px;
}

.botonPegar:hover{
    background: rgb(4, 144, 243);
    transform: scale(1.1);
}

.piedepagina, a{
    color: black;
    text-align: center;
    font-size: 15px;
}